.team{
  margin: .7em 0;
  width: 70%;
  max-width: 1200px;
  background-color: white;
  border-radius: 20px;
}
@media(max-width: 700px){
  .team{
    width: 99%;
  }
}

.team__header{
  font-size: 5em;
}
.team__delete{
}
.team__members{
  margin: .5em 1em;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.team__label{
  margin: 0 1em;
}
.team__simpleField{
  display: flex;
  flex-flow: row;
}

.team__arrayField{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.team__userCard{
  margin: 1em 1em;
  padding: 1em;
  width: 150px;
  height: 150px;
}

