.card {
  margin: 1%;
  display: flex;
  flex-flow: column;
  width: 30em;
  max-width: 100%;
  height: 70vh;
  max-height: 600px;
  border: 1px solid #5c1eed;
  border-radius: 1em;
  list-style: none;
  overflow: auto;
}
.card.large{
  height: 70vh;
}
.card.small{
  height: 30vh;
}
.cardTitle{
  text-align: center;
  font-size: 2em;
  color: white;
}
.cardLayout{
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  background: white;
}
.cardHeader{
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  background: #5c1eed;
}
.cardContent{
  background: #fff;
}
.cardFooter{
  background: #fff;
}
.cardImg{
  display: block;
  margin: auto;
  width: 50%;
}

.summaryCard{
  padding: 1em;
  font-size: 1.5em;
}