.card {
  width: 40%;
  height: 70vh;
  max-height: 600px;
  border: 1px solid #5c1eed;
  border-radius: 1em;
  list-style: none;
  overflow: hidden;

  display: flex;
  flex-flow: column;
}
@media (max-width: 900px){
  .card{
    width: 48%;
  }
}
@media (max-width: 700px){
  .card{
    width: 90%;
  }
}
.card_margin_1 {
  margin: 1%;
}
.card_large{
  height: 70vh;
}
.card_small{
  height: 30vh;
}
.card__title{
  text-align: center;
  font-size: 2em;
  color: white;
}
.card__layout{
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  background: white;
}
.card__header{
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
  background: #5c1eed;
}
.card__content{
  background: #fff;
}
.card__footer{
  background: #fff;
}
.card__img{
  display: block;
  margin: auto;
  width: 50%;
}

.summaryCard{
  padding: 1em;
  font-size: 1.5em;
}
