.stepsContainer {
  padding: 0.5em 1em 0 1em;
  margin: 0 5vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width:70vw;
  overflow: auto;
}
.stepsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 0.5em;

}
.stepsActions {
  margin: 2em 0 2em 0;
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 100%;
}

.stepsContent__dayView {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 60vw;
  overflow: auto;
}
