.dateLog{
  overflow: auto;
}
.teamDayCheckins{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin: 2em 2em;
  overflow: auto;
}

.checkinPreview{
  margin: 0 1em;
}

.checkinHistoryView{
  display: flex;
  flex-flow: row wrap;
  overflow: auto;

}
