.header {
  height: 6em;
  background: white;
}
.externalContent{
  background-color: #fff;
  padding: 2em 0;
}
.siteLayoutContent{
  background-color: #5c1eed;
  width: 100%;
  /* max-width: 1200px; */
 
  display: flex;
  justify-content: center; 
}

.siteLayoutSider{
  box-sizing: border-box;
  background-color: white;
}

.appContent{
    margin: 0.7em;
    padding: 0em 2em;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    border: 0px #5c1eed solid;
    border-radius: 20px;
}
@media (max-width: 1500px){
  .appContent{
    width: 99%;
  }
}
@media (max-width: 900px){
  .appContent{
    padding: 0 0;
  }
}

.centralBox{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10em;
}

.centralBox__button{
  margin: .3em;
  border-radius: .5em;
}


