.header {
  height: 6em;
  background: white;
}
.siteLayoutContent{
  background-color: white;
 
  display: flex;
  justify-content: center; 
  min-width: 70vw;
}
@media(max-width: 600px){
  .siteLayoutContent{
    width: 95vw;
  }
}

.siteLayoutSider{
  box-sizing: border-box;
  background-color: white;
}

.appContent{
    padding: 0em 2em;
    min-width: 75vw;
    background-color: white;
}
@media (max-width: 600px){
  .appContent{
    padding: 0 0;
  }
}

.centralBox{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10em;
}

.centralBox__button{
  margin: .3em;
  border-radius: .5em;
}


