.header {
  background: white;
}

.siteLayoutContent{
  background-color: white;
  width: 100vw;
  overflow: auto;
}

.siteLayoutSider{
  box-sizing: border-box;
  background-color: white;
  width: 16vw;
  overflow: auto;
}

.centralBox{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10em;
}

.centralBox__button{
  margin: .3em;
  border-radius: .5em;
}
