.history{
  overflow: auto;
}
.teamDayCheckins{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin: 2em 2em;
  overflow: auto;
}

.checkinPreview{
  margin: 0 1em;
}

.checkinHistoryView{
  display: flex;
  flex-flow: row wrap;
  overflow: auto;

}

.history__datePicker{
  border-radius: .5em;
  margin: .3em;
}
@media (max-width: 700px){
.history__datePicker{
  border-radius: .5em;
  margin: 0 3em;
}
}