.history{
  overflow: auto;

  display: flex;
  flex-flow: column;
  align-items: center;
}
.history__calendar{
  border-radius: .5em;
  margin: .3em;
  max-width: 35vw;
}
@media (max-width: 1200px){
  .history__calendar{
    border-radius: .5em;
    margin: 0 3em;
    max-width: 80vw;
  }
}

.history__cellContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 40px;
}
.history__calendarCell{
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: #fff;
}
.history__calendarCell_selected{
  content: '';
  margin: 2px 0;
  width:8px;
  height: 8px;
  border-radius: 50%;
  background-color: #342ab6;
}

.history__calendarCell_0{
  background-color:#fff;
  color: #5b5b5e
}
.history__calendarCell_1{
  background-color: #6C63FF;
}
.history__calendarCell_2{
  background-color: #6157ff;
}
.history__calendarCell_3{
  background-color: #524da1;
}
.history__calendarCell_4{
  background-color: #453dba;
}